<div class='cart-item'>
  <div ng-if='product.price'>
    <span>Code: {{product.id}}</span>  
    <shopping-cart class='qty' item='{{product.id}}'>{{count | itemCheckmark}}</shopping-cart>
    <div class='price before-tax' >
      <span>{{product.price | currency}}</span>
      <small>{{cart.taxSuffix(0)}}</small>
    </div>
    <div class='price after-tax' >
      <span>{{cart.taxPrice(product.price) | currency}}</span>
      <small>{{cart.taxSuffix(1)}}</small>
    </div>
    <a class='view btn btn-default' ng-href='#!/products/{{product.url}}'>View</a>
    <a class='buy btn btn-primary' ng-click='cart.addItem(product.id)'>Buy</a>
  </div>
  <div ng-if='!product.price'>
    <a class='range view btn btn-default' ng-href='#!/products/{{product.url}}'>See Product Range</a>
  </div>
</div>