/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/normalize.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/carousel.less';
@import '../../vendor/bootstrap/less/jumbotron.less';
@import '../../vendor/bootstrap/less/responsive-utilities.less';
@import '../../vendor/bootstrap/less/component-animations.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

/**
 * Layout
 **/

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -180px;
  /* Pad bottom by footer height */
  padding: 0 0 180px;
}

/* Set the fixed height of the footer here */
footer {
  height: 180px;
}

/**
 * app wide styling
 */
body {
  background-color:@bkcolor;
  color:@color;
}


.header {
  background-color: @header-bkcolor;
  color:@header-color;
  padding:20px 10px 5px 10px;
  line-height: 20px;
  overflow: hidden;

  .home {
    margin-top: 10px;
  }

  div.pull-right {
    width: 240px;
    .contact {
      display: inline-block;
      text-align: right;
      vertical-align: bottom;
      div {padding:3px;}
      .tel {
        color:@dx-blue;
        font-size: 2em;
        font-weight: bold;
      }
    }
    .cart {
      display: inline-block;
      background: url(../assets/img/basket-r.png) no-repeat 100% 1px;
      padding-right:11px;
      a {
        color:white;
        display: block;
        height: 26px;
        background: url(../assets/img/basket-l.png) no-repeat 0 1px;
        padding-left:15px;
        text-align: right;
      }
    }
  }

  .trustwave {padding-left: 10px;}
}

footer {
  background-color:@footer-bkcolor;
  color: @footer-color;
  margin: 0 auto;

  a {
    display:block;
    color: @footer-color;
  }
  section[class*="col-xs"] {
    padding:20px 5px 0 3%;
  }

  .tnt {max-width:140px;font-size:11px;}
  .tnt img {display:block;max-width: 60px;}

  .newsletter{
    form {padding-bottom: 20px;}
    h3 {color: @footer-color;font-size: 1.3em; font-weight: normal;line-height: 20px;margin: 0;}
    h4 {color: #969595;font-size: 1.1em; line-height: 20px;}
    input {
      padding: 4px 6px;
      color: @color;
      background-color: @header-bkcolor;
      border: 1px solid @header-bkcolor;
    }
    input[type="email"] {width:60%;}
    input[type="submit"] {}
  }
  .social  a {display:inline;}
  .copyright {
    position: relative;
    top: 0px;
  }
}

main {
  padding:10px;
}

article {
  background-color: #FFF;
  padding: 10px;
}

.search {
  input {
    width:100%;
  }
  li > a {
    line-height: 30px;
    padding:0;
  }
}
/**
 * responsive design
 */

@media (min-width: @screen-xs-plus1) {
  .right-bar nav {
    .dropdown-menu {
      display:block;
      width: 100%;
      // remove bootstrap styling
      position:inherit;
      border:none;
      .box-shadow(none);
    }
    .dropdown-toggle {
      display:none;
    }
  } 
}

@media (max-width: @screen-xs-max) {
  .trustwave {display:none;}
  .col-sm-3,.col-sm-6 { float: left;}
  .col-sm-3 {width:30%;}
  .col-sm-6 { width: 70%;}
  .left-bar {display: none;}
  footer {
    height: 320px;
    section[class*="col-xs"] {
      min-width:260px;
    }
  }
  @media (max-width: @screen-phablet){
    footer {
      height: 500px;
      section[class*="col-xs"] {
        min-width:270px;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .header {
    position: fixed;
    z-index: 25;
    width:100%;
  }
  .col-sm-6 {
    width:100%;
    padding-top:120px;
  }
  .right-bar nav {
    position: fixed;
    top: 87px;
    background: #FFF;
    width: 100%;
    left: 0;
    padding: 10px;
    height: 45px;
    input {
      width:63%;
    }
    .dropdown {
      top: -30px;
      left: 65%;
    }
    .dropdown-menu{
      width:200%;
      left:-70%;
      border: none;
      padding: 0 30px;
    }
  }
  .header {
    .home {
      margin-top: -10px;
      width: 500px;
    }
    .trustwave, .text {display:none;}
    .cart {margin-top: -2px;}
  }
  footer {
    height: 500px;
  }
}

/**
 * page animation - Add ngAnimate to the module dependency list 
 * in app.js to opt into angular css animation.  
 */

.view-animate {
  .ng-leave.ng-leave-active {
    height:0px;
    opacity:0;
  }
  .ng-leave {
    height:300px;
    opacity:1;
    transition: opacity 0.25s, height 0.3s;
  }
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/product/product.less';

