<section class='clearfix'>
  <section class='pull-left'><a ng-href='#/forum/ask-our-expert'>Ask our experts</a>
    <a ng-href='#/reference/articles'>Articles</a>
    <a ng-href='#/reference/what-is'>What Is?</a>
    <a ng-href='#/reference/faqs'>Frequently Asked Questions</a>
  </section>
  <section class='pull-left'>
    <a href="#/information/ip-and-copyright">IP &amp; Copyright</a>
    <a href="#/information/contact-us">Contact us</a>
    <a href="#/information/privacy">Privacy</a>
    <a href="#/information/privacy#cookies">Cookie Policy</a>
    <a href="#/information/conditions-of-sale">Conditions of sale</a>
    <a href="#/information/shipping-and-returns">Shipping and returns</a>
  </section>
  <section class='pull-right'>
    <dot-mailer></dot-mailer>
    <div class='social'>
      <a href='http://www.facebook.com/pages/dampexpertcom/260284257598'><img ng-src='img/facebook.png'></a>
      <a href='http://twitter.com/dampexpert'><img ng-src='img/twitter.png'></a>
      <a href='http://youtube.com/dampexpert'><img ng-src='img/youtube.png'></a>
    </div>
  </section>
  <section class='pull-right tnt'>
    <img ng-src="img/tnt.png" alt="TNT delivery service">
    <strong>Free</strong> post &amp; packaging on orders over {{admin.rates.freeShipping | currency}} {{admin.rates.taxSuffix[0]}}
  </section>
</section>
<a href="#/home"><small>Website &copy; 2013 Damp Expert Ltd</small></a>
