<section class='clearfix row'>
  <section class='col-xs-3'>
    <a ngbps-href='/forum/ask-the-expert'>Ask the expert</a>
    <a ngbps-href='/reference/articles'>Articles</a>
    <a ngbps-href='/reference/what-is'>What Is?</a>
    <a ngbps-href='/reference/faqs'>Frequently Asked Questions</a>
  </section>
  <section class='col-xs-3'>
    <a ngbps-href="/information/ip-and-copyright">IP &amp; Copyright</a>
    <a ngbps-href="/information/contact-us">Contact us</a>
    <a ngbps-href="/information/privacy">Privacy</a>
    <a ngbps-href="/information/privacy#cookies">Cookie Policy</a>
    <a ngbps-href="/information/conditions-of-sale">Conditions of sale</a>
    <a ngbps-href="/information/shipping-and-returns">Shipping and returns</a>
  </section>
  <section class='col-xs-2 tnt'>
    <img ng-src="assets/img/tnt.png" alt="TNT delivery service">
    <strong>Free</strong> post &amp; packaging on orders over {{admin.rates.freeShipping | currency}} {{admin.rates.taxSuffix[0]}}
  </section>
  <section class='col-xs-4'>
    <mailchimp></mailchimp>
    <div class='social'>
      <a href='http://www.facebook.com/pages/dampexpertcom/260284257598'><img ng-src='assets/img/facebook.png'></a>
      <a href='http://twitter.com/dampexpert'><img ng-src='assets/img/twitter.png'></a>
      <a href='http://youtube.com/dampexpert'><img ng-src='assets/img/youtube.png'></a>
    </div>
  </section>
</section>
<a class='copyright' ngbps-href="/home"><small>&copy; Damp Expert Ltd</small></a>
