<nav class='links'>
  <img ph-img='60x80' />
  <figcaption>
    
  </figcaption>
  <p>
    
  </p>
  <a class='survey links' href='#/services/independent-surveys.html'>
    <h3>Independent Surveys</h3>
    <img ng-src="{{imgBaseUrl}}/surveys/reports.jpg"/>
  </a>
</nav>
<nav class='links forum'>
  <a href='#!/reference/ask-the-expert'>
    <h3>Damp Problems?</h3>
    <div>Ask our experts on the damp expert forum</div>
  </a>
</nav>
<nav class="links reference">
  <a href='#!/reference/articles'>
    <h3>Articles</h3>
    <span>View our library</span>
  </a>
  <a href='#!/reference/what-is'>
    <h3>What Is?</h3>
    We help you to identify Damp
  </a>  
</nav>
