<!DOCTYPE html>
<html ng-app="ngBoilerplateShop<% if (dev) {%>.dev<%}%>" ng-controller="AppCtrl">
  <head>
    <title ng-bind='app.title | titlize'>ngadspace.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <!--<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>-->
  </head>

  <body>
    <div id="wrap">
      <header ng-include="'layout/header.tpl.html'"></header>
      <main class="container">
        <aside class="col-sm-3 left-bar" ng-include="'layout/leftbar.tpl.html'"></aside>
        <div class="col-sm-6 middle" ng-if="search.selected" ng-include="'search/results.tpl.html'"></div>
        <div class="col-sm-6 middle" ng-hide="search.selected" >
          <div class="view-animate" ui-view='main'></div>
        </div>
        <aside class="col-sm-3 right-bar" ng-include="'layout/rightbar.tpl.html'"></aside>
      </main>
    </div>
    <footer ng-include src="'layout/footer.tpl.html'"></footer>
  </body>
</html>
